In [2]:
import sqlite3
conn = sqlite3.connect('example.db')
conn

In [3]:
cursor = conn.cursor()

In [4]:
# Create table
cursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
conn.commit()

In [5]:
cursor.execute("SELECT * FROM users")

In [9]:
# Add data to the table
cursor.execute("INSERT INTO users (name, age) VALUES ('Alice', 30)")
conn.commit()
cursor.execute("INSERT INTO users (name, age) VALUES ('Bob', 25)")
conn.commit()
cursor.execute("SELECT * FROM users").fetchall()

[(1, 'Alice', 30), (2, 'Bob', 25), (3, 'Alice', 30), (4, 'Bob', 25)]

In [10]:
rows = cursor.fetchall()
for row in rows:
    print(row)

In [11]:
# Update data in the table
cursor.execute("UPDATE users SET age = 26 WHERE name = 'Bob'")
conn.commit()   
cursor.execute("SELECT * FROM users").fetchall()

[(1, 'Alice', 30), (2, 'Bob', 26), (3, 'Alice', 30), (4, 'Bob', 26)]